* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
:root {
	--blue: #1f3d59;
	--green: #61b9be;
	--yellow: #ffc933;
	--white: #FFF;
	--grey: #888888;
	--grey-bg: #F5f5f5;
	--color-text: #464646;
	--font-yellowtail: 'Yellowtail', cursive;
	--font-maven: 'Maven Pro', sans-serif;
	--size-title: 2.5rem;
	--size-subtitle: 2.0rem;
	--size-text: 1.6rem;
	--size-mintext: 1.3rem;
	--gap: 15px;
}
h1, h2, h3, h4, h5, h6, p, a, b, ul, li, span {
	font-family: var(--font-maven);
}
.title {
	color: var(--blue);
	font-family: var(--font-yellowtail);
	font-size: 6rem;
	text-align: center;
}
.subtitle {
	color: var(--green);
	font-family: var(--font-maven);
}
.d-none {
	display: none;
}
.btn-primary {
	display: block;
	min-width: 120px;
	max-width: 200px;
	padding: 5px;
	margin: 10px 0;
	background: var(--yellow);
	color: var(--white);
	border: solid 1px var(--yellow);
	border-radius: 30px;
	text-align: center;
	text-decoration: none;
	font-family: var(--font-maven);
}
main {
	margin-top: 65px;
}

h1 {
	padding: 20px;
	padding-bottom: 0;
	color: var(--yellow);
	font-family: var(--font-yellowtail);
	font-size: calc(var(--size-title) * 2);
	text-align: center;
}
.content {
	display: grid;
    gap: 10px;
	padding-bottom: 30px;
}
.kg-width-full {
	grid-row: 1;
}
.content h2 {
	color: var(--blue);
	font-size: var(--size-title);
	margin: 15px 0;
	padding: 0 20px;
}
.content h3 {
	color: var(--blue);
	font-size: var(--size-subtitle);
	margin: 10px 0;
	padding: 0 20px;
}
.content h4 {
	color: var(--blue);
	font-size: var(--size-text);
	margin: 10px 0;
	padding: 0 20px;
}
.content p {
	font-size: var(--size-text);
	padding: 0 20px;
}
.content strong {
	font-size: var(--size-text);
}
.content ul {
	margin-left: 30px;
	padding: 0 20px;
}
.content li {
	font-size: var(--size-text);
}
.btn-go-back {
	position: fixed;
	top: 75px;
	left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: none;
	background: #61b9be85;
	color: var(--white);
	font-size: 30px;
}
.btn-go-back img {
	height: 70%;
}
.tag {
    display: block;
    padding: 2px 5px;
    border-radius: 23px;
	font-size: 14px;
}
.ortodoncia {
	background: #C5E9FF;
    color: #5095FA;
}
.estetica {
	background: #d8f5ab;
    color: #94a776;
}
.cuidados {
	background: #d1c5fc;
    color: #6b618d;
}
.content figure img {
width: 100%;
}
figure {
	position: relative;
}
figcaption {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px 10px;
	font-family: var(--font-maven);
	font-size: 10px;
	color: var(--green);
	background: rgba(255 255 255 / .5);
}
.carousel-items-wrap figure {
	height: 180px;
	overflow: hidden;
}